* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
}

.form input [type="number"] {
    width: 200px;
}

.lastResult {
    color: #fff;
    padding: 3px;
}

h1 {

    font-size: 32px;
    color: #FFD700;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

p {
    font-size: 20px;
    color: #FFD700;
    text-align: center;
    width: 100%;
    margin: 20px 0;

}

.logo {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 50px rgba(0, 247, 255, 0.5);
}

figcaption {
    font-style: sans-serif;
    color: #FFD700;
    margin-top: 8px;
    margin-right: 50%;
    margin-left: 35%;
    font-size: small;

}

img {
    max-width: 20%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

label {
    color: #00f7ff;
    margin-right: 50%;
    margin-left: 35%;
}

